{% extends "layout.html" %}
    
    {% block head %}
      {{ super() }}
    {% endblock %}

    {% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/assets/bg1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">Blog</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

   	<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
						<div class="row">
						 <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/blog/blog1.jpeg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">June 14, 2020</a></div>
		                  <div><a href="#">Rohit Singh Rathaur</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading">Deep Reinforcement Learning Hacks from John Schulman's lecture<a href="#"></a></h3>
		                <p>It's all about Hacks for training RL systems from John Schulman's lecture at Deep RL Bootcamp...</p>
		                <p><a href="https://www.linkedin.com/pulse/deep-reinforcement-learning-hacks-from-john-schulmans-rathaur/" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>
						              <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/blog/blog2.jpeg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">May 26, 2020</a></div>
		                  <div><a href="#">Rohit Singh Rathaur</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading">A Hacker's guide to Git<a href="#"></a></h3>
		                <p>As we know, currently, Git is the most widely used version control system in the world, mostly thanks go to GitHub, GitLab, BitBucket, etc...</p>
		                <p><a href="https://www.linkedin.com/pulse/hackers-guide-git-rohit-singh-rathaur/" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>
		              <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/blog/blog3.jpeg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">April 28, 2020</a></div>
		                  <div><a href="#">Rohit Singh Rathaur</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading">Web Components: The secret weapon to help you power the web<a href="#"></a></h3>
		                <p>Kevin Schaaf of the Polymer Project and Caridy Patino of Salesforce had talked about the state of web components at Google I/O 2019...</p>
		                <p><a href="https://www.linkedin.com/pulse/web-components-secret-weapon-help-you-power-rohit-singh-rathaur/" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>
							<div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/blog/npm.png');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">December 29, 2019</a></div>
		                  <div><a href="#">Rohit Singh Rathaur</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading"><a href="#">Fix npm vulnerabilities with yarn</a></h3>
		                <p>Sometimes we get security alerts on GitHub because our project’s npm packages have security issues. With npm we can use npm audit fix to update our packages. But if you...</p>
		                <p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>
		          		 <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/assets/footer.png');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">December 25, 2019</a></div>
		                  <div><a href="#">OSDFS</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading">Welcome to the osDFS<a href="#"></a></h3>
		                <p>Welcome to the osDFS On December 25,2019, osDFS is hosting their first ever personal website. Come set up with Open Source Digital Freedom Society on December 25th! Know about osDFS...</p>
		                <p><a href="blog-single1.html" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>
		               <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/blog/blog4.jpeg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">October 11, 2019</a></div>
		                  <div><a href="#">Rohit Singh Rathaur</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading">My experience with the 'Google Coding Challenge - Singapore'​<a href="#"></a></h3>
		                <p>I am Rohit. I am a 3rd semester student of Mathematics & Computing. I have a simple dreams and always try to complete them...</p>
		                <p><a href="https://www.linkedin.com/pulse/my-experience-google-coding-challenge-singapore-rathaur/" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>

		   
		        <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="blog-single.html" class="block-20" style="background-image: url('/static/images/blog/blog4.png');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">October 8, 2019</a></div>
		                  <div><a href="#">Rohit Singh Rathaur</a></div>
		                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
		                </div>
		                <h3 class="heading">A Guide to Utilize Git Hook by Using ESLint, Husky, and Lint-staged<a href="#"></a></h3>
		                <p>Many times we have a moment when we are not able to read our code, and it’s turned hard in development mode just because of the style...</p>
		                <p><a href="https://www.linkedin.com/pulse/guide-utilize-git-hook-using-eslint-husky-lint-staged-rathaur/" class="btn btn-primary py-2 px-3">Read more</a></p>
		              </div>
		            </div>
		          </div>
		     
		   
		          
		          
		          
						
						
          </div> <!-- .col-md-8 -->
     
    </section> <!-- .section -->
    {% endblock %}
   
    {% block footer %}
      {{ super()  }}
    {% endblock %}
  </body>
</html>