{% extends "layout.html" %}
    
    {% block head %}
      {{ super() }}
    {% endblock %}

    {% block content %}  
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/assets/bg1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">Blog Details</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

   	<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">Welcome to the osDFS</h2>
            <p>On December 25,2019, osDFS is hosting their first ever personal website. Come set up with Open Source Digital Freedom Society on December 25th! Know about osDFS or just hang out and work on your desired project with your friends and meet our representative at your location. If you checked out the “Home” page and other section about our website then you probably say that this is a Personal Development/Motivational society.</p>
            <p>
              Glad you came by. I, Rohit Rathore and my team welcome you and let you know we appreciate you spending time here at the blog very much. Everyone is so busy and life moves pretty fast, so I really do appreciate you taking out time of your busy day to join our launching event! Thanks.
            </p>
            <p>Another thing I will always appreciate your feedback to our society. If you have any comments or suggestions I would love to hear them always. Not that all criticism is a fun thing but I think honest criticism given in an honest postive manner is something we can all learn and grow from it if we are open to hearing it. I will always listen to your ideas and my team will be very happy to help you. So I do welcome your suggestions.</p>

   <p>We will always do our best to bring you content that will interest, inspire, motivate and maybe even have you walking away thinking about and seeing things in a different way than before you came. We want to spread about more than just Computer Science and Information technology. Life is so much more than that and we want to touch on everything because we think our lives will involve more in technology. I, Rohit Rathore and my team promise to be honest about us and our life, what we have experienced and who we are.</p>
   <p>We will never suggest anything to you or for you that we haven’t either tried ourselves, believe in or haven’t researched and know the facts about. We will always research our posts and bring you content that is useful.</p>
   <p>Thank you for letting me.</p>
   <p>Rohit Rathore</p>


           


        </div>
      </div>
    </section> <!-- .section -->

    {% endblock %}
   
    {% block footer %}
      {{ super()  }}
    {% endblock %}
  </body>
</html>