{% extends "layout.html" %}
    
    {% block head %}
      {{ super() }}
    {% endblock %}

    {% block content %}
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/assets/bg1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">Keep up with all of our events!</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Events<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-causes">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="causes causes-2 text-center ftco-animate">
           
              <h2>TO BE UPDATED</h2>
              <p>Stay Tuned!</p>

                
              
            </div>
          </div>
          
          
        
      </div>
    </section>

    {% endblock %}
   
    {% block footer %}
      {{ super()  }}
    {% endblock %}
  </body>
</html>