{% extends "layout.html" %}
    
    {% block head %}
      {{ super() }}
    {% endblock %}

    {% block content %}
    <div class="hero-wrap" style="background-image: url('/static/images/assets/bg1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-12 text ftco-animate mt-5 text-center" data-scrollax=" properties: { translateY: '70%' }">
              
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Open Source Digital Freedom Society</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-volunteer">
      <div class="container-fluid px-md-0">
        <div class="row no-gutters">
          <div class="col-md-6 img-volunteer" style="FFFFFF">
            <div class="row no-gutters justify-content-start">
              <div class="col-lg-7">
                <div class="text py-5 pl-md-4 pr-md-3">
                  <h2 class="mb-4">OSDFS</h2>
                  <p>A special interest group that supports women and men who study or are interested in Computer and Information Science.</p>
                  <p><a href="https://docs.google.com/forms/d/1Sec3zIrbFimSQc5TT9bXdmpa0mKEgNbqrfQiEC8K4SY/" target="_blank" rel="noopener" class="btn btn-primary py-3 px-4">Join now</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center bg-primary">
            <div class="about-text px-3 py-5 pl-md-5 pr-md-5">
              <h2>Our Mission</h2>
              <p>We are Open Source Digital Freedom Society. We are an off campus community that supports women and men that are interested in computer and information science and all tech things. We host tech talks, community events, and business leaders from all around the area on a weekly basis. Our goal is to create and inspire a strong community of women and men in technology fields. We aim to bring support, networking and mentoring to help women and men on your campus to find success in the classroom and in the office.</p>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services-section py-5 py-md-0">
      <div class="container">
        <div class="row no-gutters d-flex">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <a href="https://www.contributor-covenant.org/" target="_blank" rel="noopener">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-charity"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Contributor Convenant</h3>
                <p>	A code of conduct for open source projects</p>
              </div>
            </div> 
            </a>     
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <a href="https://yourfirstpr.github.io" target="_blank" rel="noopener">
            <div class="media block-6 text-center services active d-block">
              <div class="icon"><span class="flaticon-adoption"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Your First PR</h3>
                <p>Help you get started contributing to open source by showcasing great starter issues on Github and elsew</p>
              </div>
            </div> 
            </a>   
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <a href="https://up-for-grabs.net" target="_blank" rel="noopener">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-volunteer"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Up For Grabs</h3>
                <p>A list of Projects which have curated tasks specifically for new contributors.These are great way to get started with a project</p>
              </div>
            </div>  
            </a>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <a href="https://firstcontributions.github.io" target="_blank" rel="noopener">
            <div class="media block-6 text-center services d-block">
              <div class="icon"><span class="flaticon-open-book"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">First Contributions</h3>
                <p>🚀✨ Make your first open source contribution in 5 minutes.</p>
              </div>
            </div>  
            </a>    
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-vol img" id="section-counter" style="background-image: url('/static/images/assets/bg1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-0"><a href="https://docs.google.com/forms/d/1Sec3zIrbFimSQc5TT9bXdmpa0mKEgNbqrfQiEC8K4SY/" target="_blank" rel="noopener">Join Us</a></h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-causes">
      <div class="container">
        <div class="row justify-content-center pb-3">
          <div class="col-md-6 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Latest Projects</h2>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-8 text-center services active d-block">
              <div class="icon"><span class="flaticon-open-book"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">YouthIcon</h3>
                <p>Let's put Asia, Europe, North America, South America and Australia on NLP map. A living collection of NLP projects for Asians, by Asians.</p>
                <p><a href="https://github.com/osDFS/YouthIcon" target="_blank" rel="noopener" class="btn btn-primary py-3 px-4">Join</a></p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 text-center services active d-block">
              <div class="icon"><span class="flaticon-open-book"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">osDFS-Chatbot</h3>
                <p>A community-driven bot that aims to be as simple as possible to serve humans queries about osDFS.</p>
                 <p><a href="https://github.com/osDFS/osDFS-Chatbot" target="_blank" rel="noopener" class="btn btn-primary py-3 px-4">Join </a></p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 text-center services active d-block">
              <div class="icon"><span class="flaticon-open-book"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">C-Algorithms</h3>
                <p>Contribute algorithms written in C language. It's beginner friendly!</p>
                <p><a href="https://github.com/osDFS/C-Algorithms" target="_blank" rel="noopener" class="btn btn-primary py-4 px-4">Join</a></p>
              </div>
            </div>    
          </div>
        </div>
        
      </div>
    </section>




    <section class="ftco-section ftco-causes">
      <div class="container">
        <div class="row justify-content-center pb-4">
          <div class="col-md-10 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Partners</h2>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="causes causes-2 text-center ftco-animate">
              <div class="img" style="background-image: url(/static/images/partners/p1.png);"></div>
              <h2>Girls who code</h2>
              
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="causes causes-2 text-center ftco-animate">
              <div class="img" style="background-image: url(/static/images/partners/p2.jpg);"></div>
              <h2>Developer Circle Mosco From Facebook</h2>
              
            
            </div>
          </div>
          
        </div>
        
      </div>
    </section>

    <section class="ftco-counter ftco-section img" id="section-counter" style="background-image: url(/static/images/assets/bg1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row d-md-flex align-items-center">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="30">0</strong>
                    <span>Students Imapacted</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="40">0</strong>
                    <span>Female participants Rate</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="1">0</strong>
                    <span>Cities</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="1">0</strong>
                    <span>College Impacted</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
   
  {% block footer %}
    {{ super()  }}
  {% endblock %}
  </body>
</html>
